<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584227457876-u6i1sjo4l649p0qrr1068u1r21eugh4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584227457876-u6i1sjo4l649p0qrr1068u1r21eugh4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDClf-uH8r3Q5mMuHlRGIGp82qP82jjrVI</string>
	<key>GCM_SENDER_ID</key>
	<string>584227457876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>omit.ChattingDemo</string>
	<key>PROJECT_ID</key>
	<string>chatting-demo-49335</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-demo-49335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584227457876:ios:c0e79615bd78e0a44ed6c1</string>
</dict>
</plist>